apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3.10-management-alpine
          ports:
          - containerPort: 5672
          - containerPort: 15672  # RabbitMQ Management Console
          env:
          - name: RABBITMQ_USERNAME
            value: admin
          - name: RABBITMQ_PASSWORD
            value: admin
      restartPolicy: Always

---

apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
spec:
  selector:
    app: rabbitmq
  ports:
    - protocol: TCP
      port: 5672
      targetPort: 5672
    - protocol: TCP
      port: 15672
      targetPort: 15672
  type: NodePort
