version: '3.8'

services:
  alert_service:
    image: alert_service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
        - "8001:8001"
    container_name: alert_service
    networks:
      - bridge
networks:
    bridge:
        driver: bridge
        name: network