version: '3.8'

services:
  account_service:
    image: account
    build:
      context: .
      dockerfile: Dockerfile
    ports:
        - "8000:8000"
    container_name: account_service
    networks:
      - bridge
networks:
    bridge:
        driver: bridge
        name: network