apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert
  labels:
    app: alert
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert
  template:
    metadata:
      name: alert
      labels:
        app: alert
    spec:
      containers:
        - name: alert
          image: alert:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: alert-config
            - secretRef:
                name: geoapify-secret
            - secretRef:
                name: mapbox-secret
          resources:
            limits:
              memory: "512Mi"
              cpu: "0.5"
            requests:
              memory: "256Mi"
              cpu: "0.1"    
        - name: consumer
          image: alert:latest
          command: ['python',"-u",'consumer.py']
          restartPolicy: Always
          volumeMounts:
            - name: share-volume
              mountPath: /alert_service
          resources:
            limits:
              memory: "512Mi"
              cpu: "0.5"     
            requests:
              memory: "256Mi"
              cpu: "0.1"     
      volumes:
        - name: share-volume
          hostPath:
            path: /alert_service
            type: DirectoryOrCreate
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: alert
  labels:
    app: alert
spec:
  selector:
    app: alert
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP